@import url('Styles/header.css');
@import url('Styles/banner.css');
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color:#EBECEE;
  --white: #FFFFFF;
  --orange: #EB9B00;
  --blue-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --primary-font:"Poppins"
}

body{
  background-color: var(--background-color);
  font-family: var(--primary-font);

}
